include LICENSE
include README.md
graft gloe
graft docs/source
graft tests
recursive-include vendor *
global-include src *.pyi
global-exclude *.pyc
global-exclude *.pyd
global-exclude *.so
global-exclude *.lib
global-exclude *.dll
global-exclude *.a
global-exclude *.obj
prune docs/build