
# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Mypy check

on:
  push:
    branches: [ "develop", "main" ]
    paths:
      - tests/**
      - gloe/**
      - '.github/workflows/typing.yml'
  pull_request:
    branches: [ "develop", "main" ]
    types: [opened, reopened]
    paths:
      - tests/**
      - gloe/**
      - '.github/workflows/typing.yml'

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install mypy
    - name: mypy types check
      run: |
        mypy --config-file mypy.ini gloe tests
        
